ion-list {    
    background-color: rgba(128, 128, 128, 0.418);
}
ion-item {
    padding: 2%;    
}
ion-thumbnail {
    border-radius: 100%;
}
ion-img {
    border-radius: 100%;
}
.info-text {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
}
.date-text {
    font-size: 12px;
    font-weight: 300;
}